@font-face {
  font-family: 'iconfont';  /* project id 1377158 */
  src: url('//at.alicdn.com/t/font_1377158_0iwb82dy26a.eot');
  src: url('//at.alicdn.com/t/font_1377158_0iwb82dy26a.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1377158_0iwb82dy26a.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1377158_0iwb82dy26a.woff') format('woff'),
  url('//at.alicdn.com/t/font_1377158_0iwb82dy26a.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1377158_0iwb82dy26a.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e661";
}

.icon-video:before {
  content: "\e65b";
}

.icon-down:before {
  content: "\e839";
}

.icon-up:before {
  content: "\e83a";
}

.icon-next:before {
  content: "\e65a";
}

.icon-back:before {
  content: "\e838";
}

.icon-edit3:before {
  content: "\e659";
}

.icon-ellipsis:before {
  content: "\e658";
}

.icon-gift:before {
  content: "\e657";
}

.icon-lock:before {
  content: "\e656";
}

.icon-simulation:before {
  content: "\e653";
}

.icon-past-exam:before {
  content: "\e654";
}

.icon-pdf:before {
  content: "\e655";
}

.icon-lesson-count:before {
  content: "\e652";
}

.icon-zhibozhong:before {
  content: "\e609";
}

.icon-live-replay:before {
  content: "\e607";
}

.icon-speaker:before {
  content: "\e606";
}

.icon-corrected:before {
  content: "\e651";
}

.icon-unfinished:before {
  content: "\e650";
}

.icon-weixin:before {
  content: "\e6c5";
}

.icon-download:before {
  content: "\e67b";
}

.icon-multiple-unselect:before {
  content: "\e64e";
}

.icon-multiple-select:before {
  content: "\e64f";
}

.icon-share:before {
  content: "\e623";
}

.icon-scheduled:before {
  content: "\e620";
}

.icon-fire:before {
  content: "\e61c";
}

.icon-playback:before {
  content: "\e61a";
}

.icon-booked:before {
  content: "\e619";
}

.icon-switch:before {
  content: "\e616";
}

.icon-add-circle:before {
  content: "\e64b";
}

.icon-minus-circle:before {
  content: "\e64c";
}

.icon-checked-circle:before {
  content: "\e648";
}

.icon-edit:before {
  content: "\e635";
}

.icon-edit2:before {
  content: "\e640";
}

.icon-chapter:before {
  content: "\e634";
}

.icon-star:before {
  content: "\e637";
}

.icon-check-analysis:before {
  content: "\e641";
}

.icon-report:before {
  content: "\e645";
}

.icon-check-answer:before {
  content: "\e63f";
}

.icon-zx_icon:before {
  content: "\e60d";
}

.icon-decoration:before {
  content: "\e63e";
}

.icon-next-o:before {
  content: "\e62e";
}

.icon-answer-sheet:before {
  content: "\e62f";
}

.icon-submit:before {
  content: "\e630";
}

.icon-prev-o:before {
  content: "\e837";
}

.icon-arrow-down:before {
  content: "\e62d";
}

.icon-rank:before {
  content: "\e629";
}

.icon-edit1:before {
  content: "\e62c";
}

.icon-smile:before {
  content: "\e61f";
}

.icon-enlarge:before {
  content: "\e622";
}

.icon-narrow:before {
  content: "\e621";
}

.icon-time:before {
  content: "\e65f";
}

.icon-correct:before {
  content: "\e626";
}

.icon-plus:before {
  content: "\e63d";
}

.icon-close:before {
  content: "\e647";
}

.icon-warning:before {
  content: "\e836";
}

.icon-checked-circle2:before {
  content: "\e642";
}

.icon-add-circle-o:before {
  content: "\e608";
}

.icon-minus-circle-o:before {
  content: "\e63a";
}

.icon-collect:before {
  content: "\e643";
}

.icon-uncollect:before {
  content: "\e644";
}

.icon-unchecked-circle:before {
  content: "\e679";
}

.icon-dot:before {
  content: "\e64d";
}

.icon-delete:before {
  content: "\e664";
}

.icon-checked:before {
  content: "\e6a9";
}

.icon-clear:before {
  content: "\e614";
}

.icon-correct-o:before {
  content: "\e68b";
}

.icon-pull-down:before {
  content: "\e7c6";
}

.icon-home:before {
  content: "\e617";
}

.icon-mobile:before {
  content: "\e63c";
}

.icon-password-o:before {
  content: "\e632";
}

.icon-verify:before {
  content: "\e636";
}
.icon-user-o:before {
  content: "\e638";
}

.icon-play-o:before {
  content: "\e625";
}

.icon-pause-o:before {
  content: "\e62b";
}
