@import './var.scss';

// @mixin bg-url($url) {
// 	background-image: url($url);
// 	background-repeat: no-repeat;
// 	background-size: 100% 100%;
// }
@mixin box-shadow() {
  box-shadow: 0px -2px 13px -1px rgba(19, 25, 37, 0.12);
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin text-ellipsis($n: 1){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $n;
  -webkit-box-orient: vertical;
}

@mixin font($fontSize, $lineHeight, $fontWeight: 500) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

// 渐变的字体图标
@mixin iconfont-linear-gradient($bg, $top: '#9ee8c2', $bottom: $primary, $direction: bottom) {
	@if $bg {
		background: $bg;
	}@else {
		background: linear-gradient(to $direction, $top, $bottom);
	}
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

// 移动端1px问题
@mixin hairline-common() {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
}

@mixin hairline($color: $border-color) {
  @include hairline-common();

  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 1px solid $color;
  transform: scale(0.5);
}

@mixin hairline-top($color: $border-color, $left: 0, $right: 0) {
  @include hairline-common();

  top: 0;
  right: $right;
  left: $left;
  border-top: 1px solid $color;
  transform: scaleY(0.5);
}

@mixin hairline-bottom($color: $border-color, $left: 0, $right: 0) {
  @include hairline-common();

  right: $right;
  bottom: 0;
  left: $left;
  border-bottom: 1px solid $color;
  transform: scaleY(0.5);
}

@mixin plain-btn ($color) {
	background: #fff;
	border: 1px solid $color;
	color: $color;
}